<head>
    <title>あなたのイチオシ一覧 | イチオシ交換ガチャ</title>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="あなたのイチオシ一覧 | イチオシ交換ガチャ" />
    <meta property="og:description" content="あなたが投稿したイチオシ一覧です" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:site_name" content="イチオシ交換ガチャ" />
    <meta property="og:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="あなたが投稿したイチオシ一覧です" />
    <meta name="twitter:title" content="あなたのイチオシ一覧 | イチオシ交換ガチャ" />
    <meta name="twitter:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
    <meta name="twitter:creator" content="@watasuke221" />
</head>
<body class="bg-light" style="padding-bottom: 96px;">
  <h1 class="text-center my-3">あなたのイチオシ一覧</h1>
  <% @user.posts.each do |post| %>
  <div class="card w-75 mx-auto d-block my-2">
    <div class="card-body">
      <h2 class="card-title"><%= link_to(post.title, "/posts/#{post.slug}") %></h2>
      <img src="<%= @user.image_url %>" class="rounded-circle">
      <%= link_to "#{@user.user_name}", "https://twitter.com/#{@user.user_name}" %>
    </div>
  </div>
  <% end %>
</body>
