<footer class="fixed-bottom">
  <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-wrap mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/watasuke221" target="_blank">作者:@watasuke221</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://kyash.me/payments/sKWQbjLSb0mM6oDNHjcoXSeWbnil" target="_blank">投げ銭</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://amzn.asia/50KF8OB" target="_blank">ほしい物リスト</a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/share" class="twitter-share-button"
          data-url="https://ichioshi-exchange-gacha.herokuapp.com/"
          data-text="イチオシ交換ガチャ - 自分のイチオシを誰かのイチオシ×3と交換しよう"
          data-related="watasuke221:イチオシ交換ガチャの作者"
          data-lang="ja"
          data-hashtags="イチオシ交換ガチャ"
          data-size="large"
          >ツイート</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>
      </ul>
    </div>
  </nav>
</footer>