<div id="header">
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">イチオシ交換ガチャ</a>
            <a href="" class="float-right text-white"><%= link_to 'Twitterでログイン', '/auth/twitter' %></a>
        </nav>
    </header>
</div>