<div>
    <div>
        <div>
            <img src= "/kamihikouki.png" width="90px">
        </div>
        <div>
            <%= link_to 'イチオシを投稿する', '/posts/new', class: 'btn btn-primary btn-lg' %>
        </div>
    </div>
    <div>
        <div>
            <img src= "/gachagacha.png" width="90px">
        </div>
        <div>
            <%= link_to 'イチオシガチャを回す', '/results/create', class: 'btn btn-primary btn-lg' %>
        </div>
    </div>
</div>