<head>
    <title>イチオシ交換ガチャ</title>
</head>
<body class="bg-light">
    <div>
        <a href="/results/create"><img src="/get.png" class="mx-auto d-block" width="250px"></a>
    </div>
    <div>
        <a href="/posts/new"><img src="/post.png" class="mx-auto d-block" width="250px"></a>
    </div>
</body>