<div>
    <div>
        <div>
            <img src= "/kamihikouki.png" class="mx-auto d-block" width="90px">
        </div>
        <div>
            <%= link_to 'イチオシを投稿する', '/posts/new', class: 'btn btn-primary btn-lg mx-auto d-block', style: "width: 250px;" %>
        </div>
    </div>
    <div>
        <div>
            <img src= "/gachagacha.png" class="mx-auto d-block" width="90px">
        </div>
        <div>
            <%= link_to 'イチオシガチャを回す', '/results/create', class: 'btn btn-primary btn-lg mx-auto d-block', style: "width: 250px;" %>
        </div>
    </div>
</div>