<head>
    <title>イチオシ交換ガチャ</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="イチオシ交換ガチャ" />
    <meta property="og:description" content="自分のイチオシ情報を投稿すると誰かのイチオシ情報×3とランダムで交換できる愉快なサービスです。" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:site_name" content="イチオシ交換ガチャ" />
    <meta property="og:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="自分のイチオシ情報を投稿すると誰かのイチオシ情報×3とランダムで交換できる愉快なサービスです。" />
    <meta name="twitter:title" content="イチオシ交換ガチャ" />
    <meta name="twitter:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
    <meta name="twitter:creator" content="@watasuke221" />
</head>
<body class="bg-light pb-5">
    <div class="text-center font-weight-bold text-primary display-2"><%= @credits %></div>
    <div class="text-center font-weight-bold text-primary">クレジット</div>
    <img src="/main-visual.png" class="mx-auto d-block" width="400px">
    <div>
        <a href="/results/create"><img src="/get.png" class="mx-auto d-block" width="250px"></a>
    </div>
    <div>
        <a href="/posts/new"><img src="/post.png" class="mx-auto d-block" width="250px"></a>
    </div>
    <div class="text-center font-weight-bold display-4">あそびかた</div>
    <img src="/step1.png" class="mx-auto d-block" width="50px">
    <div class="text-center font-weight-bold">自分のイチオシ情報を投稿する</div>
    <img src="/kamihikouki.png" class="mx-auto d-block" width="150px">
    <img src="/step2.png" class="mx-auto d-block" width="50px">
    <div class="text-center font-weight-bold">報酬として3クレジットを得る</br>(1クレジット=1ガチャ)</div>
    <img src="/step3.png" class="mx-auto d-block" width="50px">
    <div class="text-center font-weight-bold">クレジットを使って</br>イチオシガチャを回す</div>
</body>