<div class="container-fluid bg-light">
    <div>
        <div>
            <a href="/results/create"><img src="/get.png" class="mx-auto d-block" width="250px"></a>
        </div>
    </div>
    <div>
        <div>
            <a href="/posts/new"><img src="/post.png" class="mx-auto d-block" width="250px"></a>
        </div>
    </div>
</div>