<head>
    <title>イチオシ交換ガチャ</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="イチオシ交換ガチャ" />
    <meta property="og:description" content="自分のイチオシ情報を投稿すると誰かのイチオシ情報×3とランダムで交換できる愉快なサービスです。" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:site_name" content="イチオシ交換ガチャ" />
    <meta property="og:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="自分のイチオシ情報を投稿すると誰かのイチオシ情報×3とランダムで交換できる愉快なサービスです。" />
    <meta name="twitter:title" content="イチオシ交換ガチャ" />
    <meta name="twitter:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
    <meta name="twitter:creator" content="@watasuke221" />
</head>
<body class="bg-light">
    <div>
        <a href="/results/create"><img src="/get.png" class="mx-auto d-block" width="250px"></a>
    </div>
    <div>
        <a href="/posts/new"><img src="/post.png" class="mx-auto d-block" width="250px"></a>
    </div>
</body>