<head>
    <title>新規投稿 | イチオシ交換ガチャ</title>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="新規投稿 | イチオシ交換ガチャ" />
    <meta property="og:description" content="自分のイチオシ情報を投稿すると誰かのイチオシ情報×3とランダムで交換できる愉快なサービスです。" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:site_name" content="イチオシ交換ガチャ" />
    <meta property="og:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="自分のイチオシ情報を投稿すると誰かのイチオシ情報×3とランダムで交換できる愉快なサービスです。" />
    <meta name="twitter:title" content="新規投稿 | イチオシ交換ガチャ" />
    <meta name="twitter:image" content="https://ichioshi-exchange-gacha.herokuapp.com/main-visual.png" />
    <meta name="twitter:creator" content="@watasuke221" />
</head>
<body class="bg-light">
    <div class="container-fluid bg-light">
        <%= form_tag("/posts/create") do %>
            <div class="form-group">
                <% @post.errors.full_messages.each do |message| %>
                    <div class="form-error">
                        <%= message %>
                    </div>
                <% end %>
                <div class="col-auto">
                    <label for="title">イチオシするもの</label>
                    <input type="text" class="form-control border border-secondary" name="title" placeholder="なにをイチオシするか入力してください">
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label for="comment">コメント</label>
                    <textarea class="form-control border border-secondary" name="comment" placeholder="どんなところがイチオシなのか、想いをつづってください"><%= @post.comment %></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg mx-auto d-block">イチオシを投稿する</button>
        <% end %>
    </div>
</body>