
<div>
    <h1><%= @post.title %><h1>
</div>
<div>
    <p><%= @post.comment %></p>
</div>

<div>
    <%= link_to 'ガチャ結果をツイート', 'https://twitter.com/share?url=#{}&text=#{}', class: 'btn btn-primary btn-lg' %>
</div>

<div>
    <%= link_to 'イチオシガチャを回す', '/results/create', class: 'btn btn-primary btn-lg' %>
</div>
